.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.building {
  margin: 8px;
  border: 1px solid lightgrey;
  border-radius: 2px;
  width: 20%;
  padding-top: 5%;
  padding-bottom: 5%;
  background: rgb(195,85,34);
  background: linear-gradient(0deg, rgba(195,85,34,1) 0%, rgba(253,72,45,1) 100%);
}

.neighbor {
  border: 1px solid lightgrey;
  border-radius: 2px;
  padding: 8px;
  background-color: white;
  margin: auto;
  margin-bottom: 2%;
}

.permdisplay {
  border: 2px solid red;
  margin: auto;
}

.permtracker {
  display: flex;
  border: 2px solid blue;
}

.formdiv {
  width: 23vw;
    margin-left: auto;
    margin-right: auto;
}

.userspan {
  margin-top: 5%;
  width: 50vh;
  justify-content: left;
}

.homebuttons {
  margin-top: 5%;
  width: 35vh;
  height: 50vh;
  border: 2px solid black
}
